[submodule "lib/csv"]
	path = lib/csv
	url = https://github.com/kobbled/kl-csv
[submodule "lib/debug"]
	path = lib/debug
	url = https://github.com/kobbled/kl-debug
[submodule "lib/display"]
	path = lib/display
	url = https://github.com/kobbled/kl-display
[submodule "lib/errors"]
	path = lib/errors
	url = https://github.com/kobbled/kl-errors
[submodule "lib/hash"]
	path = lib/hash
	url = https://github.com/kobbled/hash
[submodule "lib/KUnit"]
	path = lib/KUnit
	url = https://github.com/kobbled/KUnit
[submodule "lib/math"]
	path = lib/math
	url = https://github.com/kobbled/kl-math
[submodule "lib/matrix"]
	path = lib/matrix
	url = https://github.com/kobbled/kl-matrix
[submodule "lib/pose"]
	path = lib/pose
	url = https://github.com/kobbled/kl-pose
[submodule "lib/registers"]
	path = lib/registers
	url = https://github.com/kobbled/kl-registers
[submodule "lib/Strings"]
	path = lib/Strings
	url = https://github.com/kobbled/Strings
[submodule "lib/TPE"]
	path = lib/TPE
	url = https://github.com/kobbled/kl-TPE
[submodule "lib/ktransw-macros"]
	path = lib/ktransw-macros
	url = https://github.com/kobbled/ktransw-macros
[submodule "lib/files"]
	path = lib/files
	url = https://github.com/kobbled/kl-files
[submodule "lib/system"]
	path = lib/system
	url = https://github.com/kobbled/kl-system
[submodule "lib/multitask"]
	path = lib/multitask
	url = https://github.com/kobbled/kl-task
[submodule "lib/paths"]
	path = lib/paths
	url = https://github.com/kobbled/kl-paths
[submodule "lib/sensors/tof_sensor"]
	path = lib/sensors/tof_sensor
	url = https://github.com/kobbled/kl-tof
